.App {
  text-align: center;
}

.app__form{
   width: 100%;
   position: fixed;
   bottom: 20px;
   z-index: 1;
   background-color: honeydew;
   margin: 20px;
   
}

.app__formc{
  display: flex!important;
  flex-direction: row!important;
  justify-content: space-evenly;
}
.app__button{
  flex: 0;
}
.app__imput{
  flex: 1;
}